.input{
    background: transparent;
    text-align: center;
    font-size: 1.8rem;
    padding: 0.8rem;
    color: var(--text-default);

    border: 0.2rem, solid transparent;
    border-bottom: 0.2rem solid var(--primary);
    transition: all 0.1s ease-in-out;
}

.input::placeholder {
    color: var(--text-default);
    opacity: 0.5;
}
.input:focus {
    outline: none;
    border: 0.2rem solid var(--primary);
    border-radius: 0.8rem;
}

.input:disabled {
    border-bottom: var(--disabled);
    color: var(--text-muted);
}
