.cycles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cycles__title {

}

.cycles__dots {
    display: flex;
    gap: 1rem;

}

.cycles__dot {
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    border-radius: 50%;

}

.work_time {
    background-color: var(--warning);
}

.short_break_time {
    background-color: var(--success);
}

.long_break_time {
    background-color: var(--info);
}